#home{
	background-image: url("run.jpeg");
	background-size: cover;
}



#banner{
	margin-left:10%;
	margin-right: 10%;
}
#banner h3{
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	text-align: center;
	color:#38291A;
}

#banner h1{
	font-family: 'Poiret One', cursive;
	font-size: 70px;
	text-align: center;
	color:#38291A;
}
#banner a{
	text-decoration: none;
}
#banner_name{
	text-align: right;
}

#nav_wrapper a{
	font-family: 'Poiret One', cursive;
	height:50px;
	color:#38291A;
}

#nav_wrapper a{
	text-decoration: none;
	font-size: 30px;
	width:33%;
	float:left;
	text-align:center;
}